/* Crea variables para no tener que repetirlas a lo largo del proyecto xd*/
:root {
  --color-principal: #1E3A5F;
  --color-secundario: #2563EB;
  --color-fondo: #F4F6F8;
  --color-blanco: #FFFFFF;
  --color-texto: #1F2937;
  --color-texto-secundario: #6B7280;
}

/* Resetea todo para poder trabajarlo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-texto);
}

.contenedor {
  width: 100%;
  max-width: autopx;
  margin: auto;
  padding: 0px;
}

header {
  background-color: #1E3A5F;
  color: white;
  padding: 20px;
}

.header-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header-h2 {
  margin-top: 10px;
  color: #dbeafe;
}

.header-contenido h1 {
  margin: 0;
  font-size: 2rem;
}


nav {
  display: flex;
  gap: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #2563EB;
}

nav a:active {
  background-color: #1D4ED8;
}

section {
  margin: 20px 0;
}

/* Lo usé tanto para las tarjetas, como para los proyectos */
.contenedor-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* solo en el index*/
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

/* solo enproyectos  */
.proyecto {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.categoria {
  font-weight: bold;
}

.filtros {
  margin: 20px 0;
  padding: 5px;
}

/* distintos usos */
.centrado {
  padding: 10px;
  text-align: center;
}

.margen {
  padding: 20px;
}

button {
  padding: 5px 10px;
  background-color: rgb(229, 245, 245);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: lightseagreen;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: var(--color-principal);
  color: white;
  display: flex;
  flex-direction: column;
  
}

select {
  padding: 10px;

  margin: 5px;

  border-radius: 5px;

  border: 1px solid var(--color-borde);
}

select:focus {
  outline: none;

  border-color: var(--color-secundario);
}

#titulo-proyecto {
  color: var(--color-principal);
}